version: '3.5'

services:
  api:
    build: ./backend
    volumes:
      - ./backend/src:/backend/src
    environment:
      - DEBUG_MODE=${DEBUG_MODE:?err}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-password}
    restart: "no"

  app:
    build: ./pbr
    volumes:
      - ./pbr/src:/pbr/src
      - ./pbr/public:/pbr/public
    restart: "no"
    environment:
      - WDS_SOCKET_PORT=80

  db:
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-password}
    ports:
      - "13306:3306" #Expose the port so that you can connect to it directly, like from HeidiSQL

volumes:
  dbdata: 